<?xml version="1.0"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Core">
            <directory suffix="Test.php">./tests/Core</directory>
        </testsuite>
        <testsuite name="MVC">
            <directory suffix="Test.php">./tests/MVC</directory>
        </testsuite>
        <testsuite name="ORM">
            <directory suffix="Test.php">./tests/ORM</directory>
        </testsuite>
        <testsuite name="Service">
            <directory suffix="Test.php">./tests/Service</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>src/DataMapper/Exception</directory>
                <directory>src/Traits</directory>
                <file>src/Http/Exception.php</file>
                <file>src/Parameter/Exception.php</file>
                <file>src/Service/Exception.php</file>
                <file>src/functions.php</file>
                <file>src/constant.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <!-- 将该环境变量设置为YES会进行数据库相关测试 -->
        <env name="RUN_DB_TEST" value="NO" />
        <env name="PGSQL_DSN" value="pgsql:host=localhost;port=5432;dbname=owl_test" />
        <env name="PGSQL_USER" value="postgres" />
        <env name="PGSQL_PASSWORD" value="postgres" />
    </php>
</phpunit>
