<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory>src/DataMapper/Exception</directory>
      <directory>src/Traits</directory>
      <file>src/Http/Exception.php</file>
      <file>src/Parameter/Exception.php</file>
      <file>src/Service/Exception.php</file>
      <file>src/functions.php</file>
      <file>src/constant.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Core">
      <directory suffix="Test.php">./tests/Core</directory>
    </testsuite>
    <testsuite name="MVC">
      <directory suffix="Test.php">./tests/MVC</directory>
    </testsuite>
    <testsuite name="ORM">
      <directory suffix="Test.php">./tests/ORM</directory>
    </testsuite>
    <testsuite name="Service">
      <directory suffix="Test.php">./tests/Service</directory>
    </testsuite>
  </testsuites>
  <php>
      <!-- 将该环境变量设置为YES会进行数据库相关测试 -->
      <env name="RUN_DB_TEST" value="NO" force="true" />
      <env name="PGSQL_DSN" value="pgsql:host=localhost;port=5432;dbname=owl_test" force="true" />
      <env name="PGSQL_USER" value="postgres" force="true" />
      <env name="PGSQL_PASSWORD" value="postgres" force="true" />
  </php>
</phpunit>
